services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: santhosh
      POSTGRES_PASSWORD: saiviyan
    ports:
      - "5433:5432"
    volumes:
      - ./:/docker-entrypoint-initdb.d
    networks:
      - lib-network

  service-registry:
    build: service-registry/
    ports:
      - "8761:8761"
    networks:
      - lib-network

  api-gateway:
    build: api-gateway/
    ports:
      - "8765:8765"
    networks:
      - lib-network

  book-service:
    build: book-service/
    ports:
      - "8081:8081"
    networks:
      - lib-network

  member-service:
    build: member-service/
    ports:
      - "8082:8082"
    networks:
      - lib-network

  transaction-service:
    build: transaction-service/
    ports:
      - "8083:8083"
    networks:
      - lib-network

  auth-service:
    build: auth-service/
    ports:
      - "8084:8084"
    networks:
      - lib-network

networks:
  lib-network:
    driver: bridge