server:
  port: 8081

spring:
  application:
    name: book-service

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://postgres:5432/book-service
#    url: jdbc:postgresql://localhost:5432/lib_mngmnt
    username: santhosh
    password: saiviyan

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    serviceUrl:
      defaultZone: http://host.docker.internal:8761/eureka/